{% extends 'base.html.twig' %}

{% block body %}
<div class="max-w-md mx-auto mt-8">
    <h2 class="text-xl font-bold mb-4">Task Tracker</h2>

    <form method="POST" action="{{ path('task_add') }}" class="mb-4 flex ">
        <input name="title" class="border p-2 flex-grow rounded-l" placeholder="New task..." required>
        <button class="bg-blue-500 text-white px-4 py-2 rounded-r">Add</button>
    </form>

    <ul class="">
        {% for task in tasks %}
            <li class="flex justify-between items-center mb-2 bg-white shadow-md rounded p-4">
                <span class="{{ task.isDone ? 'line-through text-gray-500' : '' }}">{{ task.title }}</span>
               <form method="POST" action="{{ path('task_toggle', {'id': task.id}) }}" class="inline">
                    <button class="{{ task.isDone ? 'text-red-500' : 'text-green-500' }}">
                        {{ task.isDone ? '✗' : '✔' }}
                    </button>
                </form>
                <form method="POST" action="{{ path('task_delete', {'id': task.id}) }}" class="inline ml-2">
                    <button class="text-red-500">🗑</button>
                </form>
            </li>
        {% else %}
            <li>No tasks yet.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
